{{> navbar }}

<script src="/js/index.js"></script>
<script src="/js/test.js"></script>

<!-- <h1>{{title}}</h1>
 -->
{{#equal section 1}}
	<script>
		$( document ).ready(function() {
    		  setTimeout(
			    function() {
			    	readFirstQuestion("{{title}}")
			    }, 1000);
		});
		console.log("{{sectionProgress}}")
	</script>
{{/equal}}
{{#equal section 2}}
		<script>
			$( document ).ready(function() {
				sendCorrect("{{questions}}")
			});
		</script>
		<div id="hide">
			<div class="center">
				<h1> When you're ready to speak, press Start!</h1>
		    </div>
		    <div class="center">
		    	<button class="btn btn-hg btn-inverse pull-left" onclick=speak("{{total}}")> Start</button>
		    </div>
		</div>
{{/equal}}
{{#equal section 3}}
	<script>
		$( document ).ready(function() {
    		  setTimeout(
			    function() {
			    	readThirdQuestion("{{title}}")
			    }, 1000);
		});
	</script>
{{/equal}}

<ul>
 	<form action="/test/{{test}}/inSection/{{section}}" method="POST">
 		<input name="correctAnswer" value="{{correctAnswer}}" hidden>
 		{{#equal section 1}}
 		<div class="progress">
  			<div class="progress-bar" style="width: {{sectionProgress}};"></div>
  		</div>
 		<div class="container">
		{{#each answers}}
			<span class="imageContainer">
				<input type="image" class="section1Image" name="answer" value="{{this}}" src="{{this}}">
			</span>
		 {{/each}}
		 </div>
		 <div class="center">
		 	<a type="btn" class="btn btn-hg btn-embossed btn-inverse" onclick=readFirstQuestion("{{title}}")>Repeat Question</a>
		 </div>
	    {{/equal}}
	    {{#equal section 2}}
	    <div id="show" style="display: none;">
		    <span class="colorContainer">
			    {{#each questions}}
			    	<span class="colorBox" style="background-color: {{this}};"></span>
			    {{/each}}
		    </span>
		   	<input name="questions" value="{{questions}}" hidden>
		   	<input id="speechAnswer" name="speechAnswer" value="test" hidden>
		   	<div class="box-footer center">
		   		<button class="btn btn-hg btn-inverse pull-left info" onclick=stop()> Done</button>
	<!-- 	        <button type="submit" class="btn btn-embossed btn-primary pull-left">Submit</button> -->
		    </div>
	    </div>
	    {{/equal}}
	    {{#equal section 3}}
	    <div class="progress">
  			<div class="progress-bar" style="width: {{sectionProgress}};"></div>
  		</div>
 		<div class="container">
		{{#each answers}}
			<span class="imageContainer">
				<input type="image" class="section1Image" name="answer" value="{{this}}" src="{{this}}">
			</span>
		 {{/each}}
		 </div>
		 <div class="center">
		 	<a type="btn" class="btn btn-hg btn-embossed btn-inverse" onclick=readThirdQuestion("{{title}}")>Repeat Question</a>
		 </div>
	    {{/equal}}
    </form> 
</ul>