{{> secondNavbar }}

<div class="center">
	<h1>Section {{section}}</h1>
</div>
<div class="secondary info">
	<div class="center">
		<h2> Instructions </h2>
	</div>
	{{#equal section 1}}
	  <ul>
	  	<li class="instructions">&emsp;&ensp; In this section, you will be asked a question, and should choose the picture that answers the question
	  	</li>
	  	<li class="instructions"> &emsp;&ensp; If you have trouble understanding the question, you can repeat the question
	  	</li>
	  	<li class="instructions">
	  	 &emsp;&ensp; When you're ready to start, click the button below and your time will start running!
	  	</li>
	  </ul>
	{{/equal}}
	{{#equal section 2}}
	  <ul>
	  	<li class="instructions">&emsp;&ensp; In this section, you will a group of colored boxes, and your job is to say which color they are
	  	</li>
	  	<li class="instructions"> &emsp;&ensp; Try to speak clearly, and take as much time as you need
	  	</li>
	  	<li class="instructions"> &emsp;&ensp; The color options are red, orange, yellow, green, blue, and purple
	  	</li>
	  	<li class="instructions">
	  	 &emsp;&ensp; When you're ready to start, click the button below and you will be prompted on when to start talking!
	  	</li>
	  </ul>
	{{/equal}}
	{{#equal section 3}}
	  <ul>
	  	<li class="instructions">&emsp;&ensp; In this section, you will be asked a question, and should choose the picture that answers the question
	  	</li>
	  	<li class="instructions"> &emsp;&ensp; If you have trouble understanding the question, you can repeat the question
	  	</li>
	  	<li class="instructions">
	  	 &emsp;&ensp; When you're ready to start, click the button below and your time will start running!
	  	</li>
	  </ul>
	{{/equal}}
</div>

<div class="center">
	<a type="button" class="btn btn-hg btn-embossed btn-inverse" href="/test/{{test}}/inSection/{{section}}">Start this section</a>

	<a type="button" class="btn btn-hg btn-embossed btn-inverse" href="/test/{{test}}/startSection/{{nextSection}}">Skip this section</a>
</div>